<article class="graph">
  <div class="graph-description">
    <p>{{description}}</p>
  </div>
  <div class="graph-area">
    {{#if (isGreaterThanOrEqualTo progress goal)}}
      <div class="graph-bar" style="background-color: #1ccc5a; width: 100%; height: 2rem;">
        <p class="graph-goal hidden">{{goal}}</p>
        <p class="graph-progress hidden">{{progress}}</p>
      </div>
      <p class="graph-percent"><i class="fas fa-check"></i></p>
    {{else}}
      <div class="graph-bar" style="background-color: #cc591c; width: {{percentage}}%; height: 2rem;">
        <p class="graph-goal hidden">{{goal}}</p>
        <p class="graph-progress hidden">{{progress}}</p>
      </div>
      <p class="graph-percent">{{percentage}}%</p>
    {{/if}}
  </div>
</article>
